<div class="top">
  <div class="top-wrapper">
    <div class="top-container">
      <div class="search_box">
        <div class="search_window">
          <h2>Potepan Shareで<br>まだ体験したことのない旅をしよう</h2>
          <%= search_form_for @search, url: search_room_posts_path, class: "window_form" do |f| %>
            <p><%= f.label "エリア" %></p>
            <%= f.search_field :room_address_cont, placeholder: "東京" %>
            <%= f.submit "探す", class: 'window_btn' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="recomend-container">
    <div class="recomend-contents">
      <h2>おすすめのエリア</h2>
      <div class="area-box">
        <div class="area">
          <%= link_to search_room_posts_path(q: {room_address_cont: "東京都"}) do %>
            <%= image_tag 'img_tokyo.jpeg', alt: "tokyo" %>
            <p>東京</p> 
          <% end %>
        </div>
        <div class="area">
          <%= link_to search_room_posts_path(q: {room_address_cont: "京都府"}) do %>
            <%= image_tag 'img_kyoto.jpeg', alt: "kyoto" %>
            <p>京都</p>
          <% end %>
        </div>
        <div class="area">
          <%= link_to search_room_posts_path(q: {room_address_cont: "大阪府"}) do %>
            <%= image_tag 'img_osaka.jpeg', alt: "osaka" %>
            <p>大阪</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="dummy-footer">
    <p>© 2020 POTEPAN.INC.</p>
  </div>
</div>




