<!DOCTYPE html>
<html>
  <head>
    <title>ReservationApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-left">
        <%= link_to home_top_path do %>
          <%= image_tag 'logo.png', alt: "ロゴ", class: "header-logo" %>
        <% end %>
        <%= search_form_for @search, url: search_room_posts_path, class: "search_form" do |f| %>
          <%= f.search_field :room_address_cont, placeholder: "エリア"%>
          <%= f.search_field :room_name_or_room_introduction_or_room_fee_or_room_address_cont, placeholder: "キーワード"%>
          <%= f.submit%>
        <% end %>
      </div>
      <div class="header-right">
        <% if user_signed_in? %>  
          <div class="accordion-trigger">
            <p><%= current_user.username %></p>
            <% if current_user.icon? %>
              <%= image_tag current_user.icon.url, class: "icon_img" %>
            <% else %>
              <%= image_tag "/assets/images/icon_defo.jpeg", class: "icon_img" %>
            <% end %>
          </div>
          <div class="accordion-menu">
            <ul>
              <li><%= link_to "ルーム登録", new_room_post_path %></li>
              <li><%= link_to "予約済みルーム一覧", reservations_path %></li>
              <li><%= link_to "登録済みルーム一覧", room_posts_path %></li>
              <li><%= link_to "設定", user_path(id: current_user.id) %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            </ul>
          </div>
        <% else %>
          <%= link_to "ログイン", new_user_session_path,  class: "link login" %>
          <%= link_to "新規登録", new_user_registration_path,  class: "link signup" %>
        <% end %>
      </div>
    </header>
    <%= render "shared/flash" %>
    <%= yield %>
    <footer>
      <p>© 2020 POTEPAN.INC.</p>
    </footer>
  </body>
</html>
